<!DOCTYPE html>
<html>

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var blogs = [];
            var field;
            var order;
            $("#getBlogs").click(function () {
                $("#blogList").empty();
                field = "?field=" + $("#fieldForm option:selected").val();
                order = "&order=" + $("#orderForm option:selected").val();
                
                $.get("http://localhost:4000/blogs/all" + field + order, function (blogs) {
                    blogs.forEach((blog) => {
                        console.log(blog)
                        $("#blogList").append("<h2>" + blog.title + "</h2>" +
                           "<p style='font-size:18px'>" + blog.text + "</p>" +
                            "<p style='font-size:12px'>" + blog.author + "</p>" + '<br>' +
                            "<p style='font-size:12px'>" + blog.id + "</p>" + '<br>' +
                            "<p style='font-size:12px'>" + blog.category + "</p>" + '<br>' +
                            "<p style='font-size:12px'>" + blog.createdAt + "</p>" + '<br>' +
                            "<p style='font-size:12px'>" + blog.lastModified + "</p>" + '<br>');
                    });
                });
            });
        });
    </script>
</head>

<body>
    <h1>Display Blogs</h1>
    <h2>
        <a href="http://localhost:4000/blogs/display-blogs">Display Blogs</a>
        <a href="http://localhost:4000/blogs/display-single-blog">Display Single Blog</a>
        <a href="http://localhost:4000/blogs/post-blog">Post Blog</a>
    </h2>
    <button id="getBlogs">Get Blogs</button>
    <label for="fieldForm">Blog Sort Field</label>
    <form id="fieldForm" action="">
        <select name="field" id="field">
            <option value="id">Blog Id</option>
            <option value="author">Author</option>
            <option value="title">Title</option>
            <option value="category">Category</option>
            <option value="createdAt">Date Created</option>
            <option value="lastModified">Date Last Modified</option>
        </select>
    </form>
    <label for="orderForm">Blog Sort Order</label>
    <form id="orderForm" action="">
        <select name="order" id="order">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
    </form>
    <ul id="blogList"></ul>
</body>

</html>